body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    border: 2px solid #333;
    margin: 20px 10px;
}

.card > header {
    font-size: 2em;
    padding: 5px;
    background-color: lightgreen;
}

.card > article {
    padding: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

ul li {
    border: 1px solid darkslategray;
    margin: 5px 0;
    padding: 5px;
}

.header-action {
   float: right;
   font-size: 0.8em;
   text-decoration: underline;
   font-style: italic;
   color: darkblue;
   cursor: pointer;
}

.header-action:hover {
    color: blue;
}