body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    border: 1px solid #333;
    margin: 20px 10px;
}

.card > header {
    font-size: 2em;
    padding: 5px;
    background-color: lightgreen;
}

.card > article {
    padding: 5px;
}